.menu {
    position: absolute;
    width: 120px;
    min-height: 0;
    height: fit-content;
    max-height: 150px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    background-color: white;
    overflow-y: auto;
    scrollbar-width: none;
    z-index: 10000;
}

.show {
    display: flex;
}

.hide {
    display: none;
}