.inputWrapper {
  text-align: right;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  height: 50px;
}

.inputWrapper label {
  padding-right: 40px;
  transition: all 0.3s ease;
}

.validMsg,
.invalidMsg {
  font-size: 0.7rem;
  font-weight: bold;
}

.validMsg {
  color: #2ea316;
}

.invalidMsg {
  color: #ed4956;
}

.userNameWrapper {
  display: flex;
  flex-direction: column;
  gap: -10px;
}