.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 8px;
  grid-area: "postHeader";
  height: fit-content;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 8px;
  flex: 1;
  overflow: hidden;
}

.username {
  font-weight: bold;
}

.username:hover {
  cursor: pointer;
  text-decoration: underline;
}

.optionsBtn {
  width: 30px;
  height: 20px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
}

.optionsBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 769px) {
  .header {
    grid-area: "postHeader";
    height: fit-content;
  }
}

.menu {
  position: absolute;
  width: 120px;
  min-height: 0;
  height: fit-content;
  max-height: 150px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  background-color: white;
  overflow-y: auto;
  scrollbar-width: none;
}
