.item {
    padding: 12px 18px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid #f4f4f4;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.item:last-child {
    border-bottom: none;
    
}

.item:hover {
    cursor: pointer;
    background-color: #f9f9f9;
    transform: translateX(3px);
}


.userInfo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.username {
    font-size: 0.95rem;
    font-weight: 600;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.displayName {
    font-size: 0.85rem;
    color: #777;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 769px) {
    .item {
        padding: 15px;
    }

    .item:hover {
        transform: translateX(5px);
        
    }

    .username {
        font-size: 1rem;
    }

    .displayName {
        font-size: 0.9rem;
    }
}