.post-card-comment-form {
    position: initial !important;
    z-index: 1;
    margin-top: 8px;
}

.post-card-comment-form button {
    position: initial;
}

.post-card-comment-form button {
    position: relative !important;
    left: initial !important;
    height: 40px;
    width: 40px;
    border: none;
    background-color: white;
    font-weight: bold;
    z-index: 2;
    font-size: inherit;
}